{%extends "layout.html"%}
{% set active_page = "home"%}
{%block title%}Home{%endblock%}

{%block content%}
<link rel="stylesheet" href="mystyle.css"> <!--css being linked-->
<link rel="stylesheet" href="mystyle.css"> <!--css being linked-->
<h2>Disease Table</h2>
<p>This table shows the disease names that are in the json file. It shows the year the diseases started and ended(ACCORDING TO THE JSON FILE). The notes come from various sources. Mostly the CDC.
This json files data only goes up 2011. Although some of the diseases end in the middle of the json file in some cases this was because there were less than ten cases a year. </p>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<table>
  <tr>
    <th>Disease</th>
    <th> Years</th>
    <th>Note</th>
	<th>Source</th>
  </tr>
  <tr>
    <td>Measles</td>
    <td>1928-2002</td>
	<td>(CDC says that it was declared eliminated in 2000)</td>
    <td> https://www.cdc.gov/measles/about/history.html</td>
  </tr>
  <tr>
    <td>Smallpox</td>
    <td>1928-1952</td>
    <td>(CDC says 1952)</td>
	<td>https://www.cdc.gov/smallpox/history/history.html</td>
  </tr>
  <tr>
    <td>Polio</td>
    <td>1914-1968</td>
    <td>Eliminated in 1979</td>
	<td>https://www.historyofvaccines.org/timeline/polio</td>
  </tr>
  <tr>
    <td>Pertussis</td>
    <td>1938-2018</td>
    <td>not eridacted</td>
	<td>https://well.blogs.nytimes.com/2016/02/22/why-pertussis-is-making-a-comeback/</td>
  </tr>
  <tr>
    <td>Hepatitis A</td>
    <td>1966-2011(no more data)</td>
    <td>No clear cure to this day</td>
	<td>https://www.mayoclinic.org/diseases-conditions/hepatitis-a/diagnosis-treatment/drc-20367055</td>
  </tr>
  <tr>
    <td>Mumps</td>
    <td> 1969- 2002</td>
    <td>Missing cases that continue to this day</td>
	<td>https://www.historyofvaccines.org/content/articles/mumps</td>
  </tr>
  
  <td>Rubella</td>
    <td> 1966 - 2002</td>
    <td>We get less than 10 reports of rubella a year.</td>
	<td>https://www.cdc.gov/rubella/about/in-the-us.html</td>
  </tr>
</table>



{%endblock%}
